/* components/FAQ.module.css */
.faqContainer {
    margin: 20px;
}

.faqItem {
    margin-bottom: 10px;
}

.faqQuestion {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f8f8f8;
    padding: 0 10px;
    margin: 0;
}


.faqAnswer.active {
    max-height: 100%;
    overflow: visible;
    padding: 10px;
}