
.container {
    margin-bottom: 20px;
}

.collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.expanded {
    cursor: pointer;
}

.button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    padding: 5px;
    display: block;
    text-align: left;
}
