.headerContainer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profileInfo {
    flex-grow: 1;
}

.name {
    font-size: 24px;
    margin-bottom: 4px;
}

.subject {
    font-size: 18px;
    font-weight: normal;
    color: #666;
    margin-bottom: 4px;
}

.tagline {
    font-size: 14px;
    color: #888;
}

